body {
    background-color: rgb(249, 249, 242);
  }

.earth__patch-text {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
  }
  

  .svg__container {
    height: 100vw; /* Adjust the height as needed */
    position: relative;
  }
  
  #earth__blue,
  #earth__patch{
    stroke-miterlimit: 10;
    stroke: #231f20;
    stroke-width: 4.6px;
  }

  #layer__white,
  #layer__blue1,
  #layer__blue--transperant,
  #layer__orange,
  #earth__blue,
  #footer__white, 
  #footer__blue,
  #earth__patch{
    width: 40vw;
    height: auto;
    position: absolute;
    left: 32.5vw;
    
  }
#layer__white {
  fill: #fff;
  top: 3vh;
}
#layer__blue1 {
    fill: #035ca7;
    z-index: -1;
    top: 6vh;
}
#layer__blue--transperant{
    fill: #04b1dc;
    isolation: isolate;
    opacity: .15;
    z-index: -2;
    top: 20vh;
}
#layer__orange {
    fill: #c87161;
    isolation: isolate;
    opacity: .38;
    top: 52.3vh;
}
#earth__blue{
    fill: #04b1dc;
    top: 60vh;
} 
#earth__patch{
    fill: #a1cf6d;
    top: 60vh;

}
  #footer__white {
    fill: #fff;
    top: 92vh;
}
  #footer__blue {
    fill: #035ca7;
    top: 94vh;
}
#ntnu__logo {
      fill: #fff;
      stroke-width: 0px;
      width: 10vw;
      height: auto;
      position: absolute;
      bottom: 2.5vh;
}

#text1{
    transform: translate(35vw, 39vw);
    max-width: 13vh;
    font-size: 14px;
    position: relative;
}
  

    @media screen and (min-width: 290px) and (max-width: 600px) {
        /*.svg-container {
            overflow-x: hidden;}*/
        body {
                background-color: rgb(252, 241, 227);
              }    
        #layer__white,
        #layer__blue1,
        #layer__blue--transperant,
        #layer__orange,
        #earth__blue,
        #footer__white, 
        #footer__blue {
            width: 85vw; /* Adjust width to fit smaller screens */
            left: 0; /* Reset left to 0 */
            right: 0; /* Set right to 0 */
            margin: 0 auto; /* Horizontally center the elements */
            box-sizing: border-box;
        }
        #layer__orange {
            top: 52.8vh;
        }
        #earth__blue {
            top: 62vh;
        } 
        #footer__white {
            top: 92vh;
        }
        #footer__blue {
            top: 95vh;
        }
    }

/* For tablets */
@media screen and (min-width: 601px) and (max-width: 768px) {
     #layer__white,
        #layer__blue1,
        #layer__blue--transperant,
        #layer__orange,
        #earth__blue,
        #footer__white, 
        #footer__blue {
            width: 65vw; /* Adjust width to fit smaller screens */
            left: 0; /* Reset left to 0 */
            right: 0; /* Set right to 0 */
            margin: 0 auto; /* Horizontally center the elements */
            box-sizing: border-box;
        }
        #layer__orange {
            top: 52.8vh;
        }
        #earth__blue {
            top: 62vh;
        } 
        #footer__white {
            top: 92vh;
        }
        #footer__blue {
            top: 95vh;
        }
}
/* For small laptops or larger tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #layer__white,
    #layer__blue1,
    #layer__blue--transperant,
    #layer__orange,
    #earth__blue,
    #footer__white, 
    #footer__blue {
        width: 50vw; /* Adjust width to fit smaller screens */
        left: 0; /* Reset left to 0 */
        right: 0; /* Set right to 0 */
        margin: 0 auto; /* Horizontally center the elements */
        box-sizing: border-box;
    }
    #layer__orange {
        top: 52.8vh;
    }
    #earth__blue {
        top: 62vh;
    } 
    #footer__white {
        top: 92vh;
    }
    #footer__blue {
        top: 95vh;
    }
}

  @media screen and (min-width: 1025px) {
  }