body {
    background-color: rgb(249, 249, 242);
  }
  .svg__container {
    height: 100vh; /* Adjust the height as needed */
    position: relative;
  }
  #earth__blue,
  #earth__patch{
    stroke-miterlimit: 10;
    stroke: #231f20;
    stroke-width: 4.6px;
  }

  #layer__white,
  #layer__blue1,
  #layer__blue--transperant,
  #layer__orange,
  #earth__blue,
  #footer__white, 
  #footer__blue,
  #earth__patch{
    width: 40vw;
    height: auto;
    position: absolute;
    left: 32.5vw;
    
  }
#layer__white {
  fill: #fff;
  top: 3vh;
}
#layer__blue1 {
    fill: #035ca7;
    z-index: -1;
    top: 6vh;
}
#layer__blue--transperant{
    fill: #04b1dc;
    isolation: isolate;
    opacity: .15;
    z-index: -2;
    top: 20vh;
}
#layer__orange {
    fill: #c87161;
    isolation: isolate;
    opacity: .38;
    top: 52.3vh;
}
#earth__blue{
    fill: #04b1dc;
    top: 60vh;
} 
#earth__patch{
    fill: #a1cf6d;
    top: 60vh;

}
  #footer__white {
    fill: #fff;
    top: 92vh;
}
  #footer__blue {
    fill: #035ca7;
    top: 94vh;
}
#ntnu__logo {
      fill: #fff;
      stroke-width: 0px;
      width: 10vw;
      height: auto;
      position: absolute;
      bottom: 2.5vh;
}

.moon{
    width: 180px;
    height: 180px;
    background-color: #EBECEB ;
    border-radius: 45% 55% 53% 47% / 41% 56% 44% 59%;
    transform: translate(440%,60%);
    overflow: hidden; 
    border: solid black 5px;
  }

  .moon::before {
    content: '';
    position: absolute;
    bottom: 36%; /* Adjust to move the smile up or down */
    left: 56%;
    width: 15%; /* Width of the smile */
    height: 3%; /* Height of the smile, adjust to make the curve steeper or flatter */
    border-radius: 50%/100% 100% 0 0; /* This creates a semi-circular shape, like a smile */
    border: 3px solid black; /* Adjust the color and thickness of the smile line */
    border-bottom: none; /* Hides the bottom border */
    box-sizing: border-box;
    rotate: 140deg;
    border-left: 1px;
  }
  

  .crater {
  position: absolute;
  left: 25%;
  top: 2%;
  width: 17%;
  height: 12%;
  background-color: #B4B7B8; 
  border-radius: 81% 19% 86% 14% / 77% 25% 75% 23%;
 border: solid black 2px;
}
.crater2 {
    position: absolute;
    right: 23%;
    bottom: 12%;
    width: 30px;
    height: 30px;
    background-color: #B4B7B8;
    border-radius: 67% 33% 83% 25% / 65% 31% 69% 35% ;
    border: solid black;
  }

  .crater3{
    position: absolute;
    right: 60%;
    width: 30px;
    height: 18px;
    top: 82%;
    background-color: #B4B7B8;
    border-radius: 34% 66% 29% 71% / 42% 64% 36% 58% ;
    border: solid black;
  }

  .crater4{
    background-color: #B4B7B8;
    border-radius: 55% 45% 56% 44% / 51% 59% 41% 49%;
    border: solid black;
    height: 25px;
    width: 18px;
    left: 85%;
    top: 45%;
    position: absolute;
  }

  .crater5{
 
    background-color: #B4B7B8;
    border-radius:  29% 58% 21% 50% / 18% 74% 27% 62% ;
    border: solid black;
    height: 25px;
    width: 18px;
    left: 10px;
    right: 85%;
    top: 50%;
    position: absolute; 
  }

  .moon__eyes-left{
    background-color: black;
    border-radius: 48% 52% 50% 48% / 45% 53% 31% 34%;
    height: 60px;
    width: 40px;
    top: 24%;
    left: 20%;
    position: absolute;
  }

  .moon__eyes-right{
    background-color: black;
   border-radius: 48% 52% 44% 56% / 68% 69% 24% 25% ;
   height: 35%;
   width: 25%;
   top: 20%;
   left: 54%;
   position: absolute;
  }
  .moon__eyes-left-white1{
    border-radius: 55% 84% 53% 84% / 22% 69% 30% 76% ;
    background-color: white;
    width: 58%;
    height: 30%;
    position: absolute;
    left:22%;
    top:10%;
    rotate: 180deg;
  }

  .moon__eyes-left-white2{
    border-radius: 78% 22% 37% 67% / 47% 11% 80% 53% ;
    background-color: white;
    width: 64%;
    height: 30%;
    position: absolute;
    left:22%;
    top:60%;
  }

  .moon__eyes-right-white1{
    border-radius: 51% 49% 51% 49% / 37% 34% 66% 63%;
    background-color: white;
    width: 60%;
    height: 30%;
    position: absolute;
    left:22%;
    top:10%;
    rotate: 180deg
  }

  .moon__eyes-right-white2{
    border-radius: 68% 23% 41% 30% / 53% 19% 68% 40%  ;
    background-color: white;
    width: 65%;
    height: 30%;
    position: absolute;
    left:22%;
    top:60%;
    rotate: 180deg
  }


    @media screen and (min-width: 290px) and (max-width: 600px) {
        /*.svg-container {
            overflow-x: hidden;}*/
        body {
                background-color: rgb(252, 241, 227);
              }    
        #layer__white,
        #layer__blue1,
        #layer__blue--transperant,
        #layer__orange,
        #earth__blue,
        #footer__white, 
        #footer__blue {
            width: 85vw; /* Adjust width to fit smaller screens */
            left: 0; /* Reset left to 0 */
            right: 0; /* Set right to 0 */
            margin: 0 auto; /* Horizontally center the elements */
            box-sizing: border-box;
        }
        #layer__orange {
            top: 52.8vh;
        }
        #earth__blue {
            top: 62vh;
        } 
        #footer__white {
            top: 92vh;
        }
        #footer__blue {
            top: 95vh;
        }
    }


          
    

/* For tablets */
@media screen and (min-width: 601px) and (max-width: 768px) {
     #layer__white,
        #layer__blue1,
        #layer__blue--transperant,
        #layer__orange,
        #earth__blue,
        #footer__white, 
        #footer__blue {
            width: 65vw; /* Adjust width to fit smaller screens */
            left: 0; /* Reset left to 0 */
            right: 0; /* Set right to 0 */
            margin: 0 auto; /* Horizontally center the elements */
            box-sizing: border-box;
        }
        #layer__orange {
            top: 52.8vh;
        }
        #earth__blue {
            top: 62vh;
        } 
        #footer__white {
            top: 92vh;
        }
        #footer__blue {
            top: 95vh;
        }
}
/* For small laptops or larger tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #layer__white,
    #layer__blue1,
    #layer__blue--transperant,
    #layer__orange,
    #earth__blue,
    #footer__white, 
    #footer__blue {
        width: 50vw; /* Adjust width to fit smaller screens */
        left: 0; /* Reset left to 0 */
        right: 0; /* Set right to 0 */
        margin: 0 auto; /* Horizontally center the elements */
        box-sizing: border-box;
    }
    #layer__orange {
        top: 52.8vh;
    }
    #earth__blue {
        top: 62vh;
    } 
    #footer__white {
        top: 92vh;
    }
    #footer__blue {
        top: 95vh;
    }
}

  @media screen and (min-width: 1025px) {
  }