body {
  background-color: rgb(249, 249, 242);
}
main {
  width: 100%; 
  box-sizing: border-box; 
  padding: 2px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg-container {
  border: 2px solid red;
  position: relative;
  width: 40vw; 
  height: 100vh; 
  min-width: 500px; 
  min-height: 500px; 
  overflow: auto;
  margin: 0;
}

.svg-element {
  position: absolute;
  width: 100%; /* Adjust based on aspect ratio */
  max-width: 100%;
  display: block;
  height: auto; /* Make SVG fully fill container height */
  /*left: 50%; /* Center horizontally */
  /*transform: translate(-50%, -50%); /* Center the element */
}

#layer__white {
fill: #fff;
}
#layer__blue1 {
  fill: #035ca7;
  z-index: -1;
}
#layer__blue--transperant{
  fill: #04b1dc;
  isolation: isolate;
  opacity: .15;
  z-index: -2;
  top: 9rem;
}
#layer__orange {
  fill: #c87161;
  isolation: isolate;
  opacity: .38;
  top: 25.6rem;
}
#earth__blue{
  fill: #04b1dc;
  top: 30rem;
} 
#earth__patch{
  fill: #a1cf6d;
  top: 30rem;
}

#earth__blue,
#earth__patch{
stroke-miterlimit: 10;
stroke: #231f20;
stroke-width: 4.6px;
}

@media screen and (max-width: 600px) {
/* Ensure the parent container allows for proper layout */
main {
width: 100%; 
box-sizing: border-box; 
padding: 2px; 
}

.svg-container {
width: 100%; 
min-width: auto; 
height: auto; 
overflow: visible; 
}


.svg-element {
  max-width: 100%; 
}

#layer__white {
top: 1%;
}
#layer__blue1 {
 top: 4%;
 z-index: -1;
}
#layer__blue--transperant {
  top: 20%; 
}

#layer__orange {
  top: 51%;
}

#earth__blue,
#earth__patch {
  top: 59%; 
}
}







  
