body {
    font-family: "Marydale-Bold", "Marydale";
    background-color: rgb(249, 249, 242);
    margin-right: 0;
  }
  
  .svg-container{
    position: relative;
  }
  .wrap{
    position: relative;
    height: 841px;
    width: 594px;
    border: 2px solid red;
  }
  svg {
    position: absolute;
    width: 100%;
    /*top: 10%;*/
    height: auto;
  }
  
  .earth__patch-text {
      font-family: "Caveat", cursive;
      font-optical-sizing: auto;
      font-weight: 500; 
      font-style: normal;
    }
    
  
    .svg__container {
      height: 100vw; /* Adjust the height as needed */
      position: relative;
    }
    
    #earth__blue,
    #earth__patch{
      stroke-miterlimit: 10;
      stroke: #231f20;
      stroke-width: 4.6px;
    }
  
  #layer__white {
  fill: #fff;
  top: 0;
  }
  #layer__blue1 {
    fill: #035ca7;
    top: 5%;
    z-index: -1;
  }
  #star__large {
    fill: #f4ec48;
    stroke: #231f20;
    stroke-miterlimit: 10;
    stroke-width: 4.6px;
    width: 5rem;
    right: 10%;
    top: 55%;
    } 
  
    #star__small {
      fill: #f4ec48;
      stroke: #231f20;
      stroke-miterlimit: 10;
      stroke-width: 4.6px;
      width: 2rem;
      right: 10%;
      top:140%;
    }
  
  #layer__blue--transperant{
    fill: #04b1dc;
    isolation: isolate;
    opacity: .15;
    z-index: -2;
    top: 9rem;
  }
  #layer__orange {
    fill: #c87161;
    isolation: isolate;
    opacity: .38;
    top: 25.6rem;
  }
  #earth__blue{
    fill: #04b1dc;
    top: 30rem;
  } 
  #earth__patch{
    fill: #a1cf6d;
    top: 30rem;
  }
  #footer__white{
    fill: white;
    top: 46.5rem;
    z-index: 1;
  }
  #footer__blue{
    fill: #035ca7;
    top: 47.7rem;
    z-index: 1;
  }
  #ntnu__logo{
    fill: black;
    stroke-width: 0px;
    z-index: 15;
    width: 15%;
    top: 546.5%;
  }
  #human__yellow{
    width: 26%;
    top: 24.5rem;
  }
  #human__blue{
    width: 24%;
    top: 20rem;
    left: 34%
  }
  #human__green{
    width: 24%;
    top: 22rem;
    left: 58%
  }
  .bckg__color-car{
    fill: #c87161;
  }
  #car{
    width: 20%;
    position: absolute;
    left: 40%;
    top: 167%;
    z-index: 10;
  }
  #ntnu__logo{
    fill: #fff;
    stroke-width: 0px;
    z-index: 10;
    width: 15%;
    top: 575%;
    left: 4%;
  }
  .footer__blue-text{
    position: absolute;
    font-family: "Marydale-Bold", "Marydale";
    z-index: 16;
    width: 15%;
    top: 565%;
    left: 60%;
    font-size: 7.6px;
    color: #fff;
  }
  .footer__blue-link{
    color: #fff;
    position: absolute;
    font-family: "Marydale-Bold", "Marydale";
    z-index: 16;
    width: 100%;
    top: 570%;
    left: 36%;
    font-size: 7.6px;
  }
  .footer__blue-contant{
    position: absolute;
    font-family: "Marydale-Bold", "Marydale";
    z-index: 16;
    width: 15%;
    top: 569%;
    left: 80%;
    font-size: 7.6px;
    color: #fff;
  }
  #eyes{
    width: 70%;
    top: 41rem;
    left: 12%;
  }
  .eyes__black{
    stroke: #231f20;
    stroke-miterlimit: 10;
  }
  .eyes__white {
    fill: #fff;
  }
  .QR-code{
    position: absolute;
    max-width: 10%;
    top: 80%;
  }
  .cloud-small-green{
    max-width: 5%;
    position: absolute;
  }
  #cloud1{
    top: 47%;
    left: 1%;
  }
  #cloud2{
    top: 45%;
    left: 20%;
  }
  #cloud3{
    top: 50%;
    left: 27%;
  }
  #cloud4{
    top: 41%;
    left: 28.5%;
  }
  #cloud5{
    top: 36.6%;
    left: 40%;
  }
  #cloud6{
    top: 42%;
    left: 70%;
  }
  #cloud7{
    top: 50%;
    left: 80%;
  }
  #cloud8{
    top: 40%;
    left: 80%;
  }
  .cloud__bckg--green {
    fill: #a0cf6e;
  }
  .cls-1, .cls-2 {
    stroke: #231f20;
    stroke-miterlimit: 10;
  }
  .cls-2 {
    fill: #fff;
    stroke-width: 4.6px;
  }
  #cloud__medium-green{
    position: absolute;
    width: 6.5%;
    top: 240%;
    left: 72%;
  }
  #cloud__medium-green1{
    position: absolute;
    width: 6.5%;
    top: 260%;
    left: 20%;
  }
  #cloud__large{
    position: absolute;
    width: 10%;
    top: 250%;
    left: 55%;
  }
  
  
  #earth__blue,
  #earth__patch{
  stroke-miterlimit: 10;
  stroke: #231f20;
  stroke-width: 4.6px;
  }
  
  #text0, #text2, #text3, #text4, #text5 {
    position: absolute;
    font-size: 10px;
    width: 10ch;
  }
  #text0{
    top: 500%;
    left: 11%;
  }
  #text2{
    top: 460%;
    left: 44%;
  }
  #text3{
    top: 610%;
    left: 43.4%;
  }
  #text4{
    top: 500%;
    left: 86%;
  }
  #text5{
    top: 150%;
    left: 20%;
  }
  .design{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  }
  #text1{
      transform: translate(35vw, 39vw);
      max-width: 13vh;
      font-size: 14px;
      position: relative;
  }
  
  /** styling for moon CSS drawing **/
  .moon {
    width: 22%;
    height: 15%;
    background-color: #EBECEB;
    border-radius: 45% 55% 53% 47% / 41% 56% 44% 59%;
    transform: translate(22rem, 0.1rem) scale(1); 
    bottom: 3%;
    border: solid black 5px;
    position: relative;
    animation: spinMoon 5s infinite alternate ease-in-out; 
  } 
  
  /**CSS ANIMATION**/
  @keyframes spinMoon { 
    {
      transform: translate(22rem, 0.1rem) scale  rotate(-20deg);; 
    }
    
    {
      transform: translate(22rem, 0.1rem) scale(1) rotate(20deg); 
    }
  }
  
  
  
  .moon::before {
    content: '';
    position: absolute;
    bottom: 32%; 
    left: 55%;
    width:12%; 
    height: 4%; 
    border-radius: 50%/100% 100% 0 0; 
    border:  solid black; 
    border-bottom: none; 
    box-sizing: border-box;
    rotate: 140deg;
    border-left: 1px;
  }
  
  
  .crater {
  position: relative;
  left: 25%;
  top: 2%;
  width: 18%;
  height: 14%;
  background-color: #B4B7B8; 
  border-radius: 81% 19% 86% 14% / 77% 25% 75% 23%;
  border: solid black 2px;
  }
  .crater2 {
    position: absolute;
    right: 12%;
    bottom: 12%;
    width: 18%;
    height: 15%;
    background-color: #B4B7B8;
    border-radius: 67% 33% 83% 25% / 65% 31% 69% 35% ;
    border: solid black;
  }
  
  .crater3{
    position: absolute;
    right: 60%;
    width: 15%;
    height: 12%;
    top: 80%;
    background-color: #B4B7B8;
    border-radius: 34% 66% 29% 71% / 42% 64% 36% 58% ;
    border: solid black;
  }
  
  .crater4{
    background-color: #B4B7B8;
    border-radius: 55% 45% 56% 44% / 51% 59% 41% 49%;
    border: solid black;
    height: 15%;
    width: 11%;
    left: 85%;
    top: 45%;
    position: absolute;
  }
  
  .crater5{
  
    background-color: #B4B7B8;
    border-radius:  29% 58% 21% 50% / 18% 74% 27% 62% ;
    border: solid black;
    height: 15%;
    width: 15%;
    left: 4%;
    right: 85%;
    top: 51%;
    position: absolute; 
  }
  
  .moon__eyes-left{
    background-color: black;
    border-radius: 48% 52% 50% 48% / 45% 53% 31% 34%;
    height: 35%;
    width: 23%;
    top: 24%;
    left: 20%;
    position: absolute;
  }
  
  .moon__eyes-right{
    background-color: black;
   border-radius: 48% 52% 44% 56% / 68% 69% 24% 25% ;
   height: 36%;
   width: 23%;
   top: 20%;
   left: 54%;
   position: absolute;
  }
  .moon__eyes-left-white1{
    border-radius: 55% 84% 53% 84% / 22% 69% 30% 76% ;
    background-color: white;
    width: 58%;
    height: 30%;
    position: absolute;
    left:22%;
    top:10%;
    rotate: 180deg;
  }
  
  .moon__eyes-left-white2{
    border-radius: 78% 22% 37% 67% / 47% 11% 80% 53% ;
    background-color: white;
    width: 64%;
    height: 30%;
    position: absolute;
    left:22%;
    top:60%;
  }
  
  .moon__eyes-right-white1{
    border-radius: 51% 49% 51% 49% / 37% 34% 66% 63%;
    background-color: white;
    width: 60%;
    height: 30%;
    position: absolute;
    left:22%;
    top:10%;
    rotate: 180deg
  }
  
  .moon__eyes-right-white2{
    border-radius: 68% 23% 41% 30% / 53% 19% 68% 40%  ;
    background-color: white;
    width: 65%;
    height: 30%;
    position: absolute;
    left:22%;
    top:60%;
    rotate: 180deg
  }
  
    
  
  
  /*common for humans*/
      .balck_c1, .head_c2, .hand_c4, .shirt_c5, .hand_c2, .face_c2, .green_pantc3, .tshirt__green, .pants, .black {
        stroke: #231f20;
      }
      .balck_c1, .head_c2, .green_pantc3, .hand_c4, .shirt_c5, .phono__logo, .face_c2, .tshirt__green, .pants, .black, .hand_c2{
        stroke-miterlimit: 10;
        stroke-width: 4.6px;
      }
      .phono__logo {
        fill: none;
        stroke: #fff;
      }
      .cls-8 {
        fill: #fff; /*eyes*/
      }
      /*human1*/
      .balck_c1, .cls-7, .black{
        fill: #231f20;
      }
      .head_c2{
        fill: #b7a79f;
      }
      .green_pantc3, .tshirt__green {
        fill: #a0cf6e;
      }
      .hand_c4{
        fill: #ad9282;
      }
      .shirt_c5, .pants {
        fill: #f4ec48;
      }
      .cls-8{
        stroke-width: 0px;
      }
      /*human 2*/
      .shirt__blue {
        fill: #04b1dc;
      }
      .hand_c2, .face_c2 {
        fill: #fce0ce;
      }
      .skirt{ /*skirt*/
        fill: #c87161;
      }
    
  /*human 3*/
  .face, .hand {
    fill: #826d5e;
  }
  
   
      /* HEADER + text*/
      header{
        font-size: 36px;
        font-weight: 700;
        color: #035ca7;
        z-index: 5;
        position: relative;
        font-family: Arial, Helvetica, sans-serif
      }
      header span {
        color: #0da15c;
      }
      .header__undertext{
        color: #231f20;
        font-size: 12px;
        font-family: "Marydale-Bold", "Marydale";
      }
      .layer__blue-text{
        font-size: 12px;
        font-family: "Marydale-Bold", "Marydale";
        font-weight: bold;
        color: black;
        position: absolute;
        z-index: 14;
        top: 120%;
        left: 3%;
      }
      #underneath__text{
        top: 130%;
      }
      .footer__white-text1,
      .footer__white-text2{
        font-family: "Marydale-Bold", "Marydale";
        font-size: 7.6px;
        position: absolute;
        z-index: 7;
      }
      .footer__white-text1{
        top: 46rem;
      }
      .footer__white-text2{
        top: 46.5rem;
      }
      .layer__transperantBlue-undertext{
        position: absolute;
        top: 160%;
        font-family: "Marydale-Bold", "Marydale";
        font-weight: bold;
        font-size: 14px;
      }
      .layer__transperantBlue-undertext span{
        font-size: 40px;
      }
    
    